{{#if login}}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/adminPanel/Vaidhya/"><b>Vaidhya</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Doctors
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactiveDoctors">New Doctors</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activeDoctors">Active Doctors</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringDoctors">Expiring Doctors</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribed">UnSubscribed Doctors</a>

                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Payments
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activePayment">New payment
                            requests</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-doctorRecentPayment">Doctors payments
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bookings
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/doctors_bookings">Doctors
                            Bookings</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/user_bookings">User
                            Bookings</a>
                            <a class="dropdown-item" href="/adminPanel/Vaidhya/view-CancelRequests">Cancel requests</a>
                              <a class="dropdown-item" href="/adminPanel/Vaidhya/history-CancelRequests">Cancel History</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        user
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activeUser"> Active Users</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-InactiveUser"> Inactive Users</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departments
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya//addAyurvedicDepartment">Ayurvedic Department List</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/addGeneralDepartment">General Department List</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hospitals
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactivehospital"> New Hospitals</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activeHospitals"> Active Hospitals</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringHospital"> Expiring Hospitals</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribedhospitals"> UnSubscribed
                            Hospitals</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pharmacy
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactivepharmacy"> New Pharmacy</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activepharmacy"> Active Pharmacy</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringPharmacy"> Expiring Pharmacy</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribedpharmacy"> UnSubscribed
                            Pharmacy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labs
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactivelab"> New Labs</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activelab"> Active Labs</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringLab"> Expiring Labs</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribedlab"> UnSubscribed
                            Labs</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home Nurse
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactivenurse"> New Home Nurse</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activenurse"> Active Home Nurse</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringNurce"> Expiring Home Nurse</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribednurse"> UnSubscribed Home
                            Nurse</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ambulance
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-inactiveambulance"> New Ambulance</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-activeambulance"> Active Ambulance</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-expiringAmbulance"> Expiring Ambulance</a>
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/view-unSubscribedambulance"> UnSubscribed
                            Ambulance</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/adminPanel/Vaidhya/listOfProducts"> Products</a>
                    </div>
                </div>
            </ul>
            {{!-- <div>
                <a href="/adminPanel/Vaidhya/getChurch" class="btn btn-danger">Search</a>
            </div> --}}
        </div>
        <span style="padding-left:30px"></span>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/adminPanel/Vaidhya/logout">LogOut</a>
                    <a class="dropdown-item" href="/adminPanel/Vaidhya/reset-password">Change Password</a>
                </div>
            </div>
        </form>
    </nav>
</header>

{{/if}}