<!DOCTYPE html>
<head>
<style>
    
    .mtext{
        color: #202027;

    }
    .about{
        background-color: #fff;
    }
    
</style>
</head>

<body> 
    <div class="about" style="padding: 20px">
    <p class="mtext">Vaidhya.com is a single platform to promote Ayurvedic and herbal medical services at people's doorsteps, making quality healthcare affordable and accessible for common. The motivation behind vaidhya.com is the Covid-19 situation, where people were afraid to go to hospitals and sought self-remedies through herbal treatments. Vaidhya.com's mission is to provide information and access to Ayurvedic doctors, general physicians, hospitals, pharmaceuticals, medical equipment, oxygen therapy, diagnostic centers, ambulance services, etc., through online consultation methods like chat, audio calls, video calls, clinic visits, and doorstep visits.</p>
    <p class="mtext">“Vaidhya.com is the only portal to bridge quality relationships between doctors and patients.”</p>
    </div>
</body>
</html>