<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:"Playfair Display";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Lato;
	panose-1:2 15 5 2 2 2 4 3 2 3;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US link="#0563C1" vlink="#954F72" style='word-wrap:break-word'>

<div style="padding:20px" class=WordSection1>


<p class=MsoNormal style='line-height:18.0pt;background:white'><span
lang=EN-IN style='font-family:"Lato",sans-serif;color:black'>We are in service
sector and as such we did not entertain request for cancellation of services
rendered to patients. Our Policy for the cancellation and refund will be as
follows:</span></p>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:7.5pt;
margin-left:0in;line-height:18.0pt;background:white'><b><span lang=EN-IN
style='font-size:13.5pt;font-family:"Lato",sans-serif;color:black'>CANCELLATION
POLICY</span></b></p>

<p class=MsoNormal style='line-height:18.0pt;background:white'><span
lang=EN-IN style='font-family:"Lato",sans-serif;color:black'>A person who has remitted
the required amount and has placed orders for a procedure for his beneficiary
in the hospital can make a request for cancellation of the said procedure
provided the said cancellation request is made and the same is received and
acknowledged by the hospital. Such a request should be received at least one
day prior to the date of procedure/investigation/consultation.</span></p>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:7.5pt;
margin-left:0in;line-height:18.0pt;background:white'><b><span lang=EN-IN
style='font-size:13.5pt;font-family:"Lato",sans-serif;color:black'>REFUND
POLICY</span></b></p>

<p class=MsoNormal style='line-height:18.0pt;background:white'><span
lang=EN-IN style='font-family:"Lato",sans-serif;color:black'>Once the request
for cancellation is acknowledged by the hospital, the amount remitted shall be
refunded after deducting 5% of the amount within 2 days of acknowledgement of
the request. In case of Payment Gateway payments, refund will be made to the
same account.</span></p>

<p class=MsoNormal><span lang=EN-IN>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:16.65pt;margin-right:0in;margin-bottom:
16.65pt;margin-left:0in;line-height:normal;background:white'><b><span
lang=EN-IN style='font-size:13.0pt;font-family:"Arial",sans-serif;color:#212529'>1.
Cancellation Policy</span></b></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>Confirmation of your appointment with a specific
     doctor/physician, as per his/her availability, shall be sent to you via
     SMS and/or email. <b><i>Vaidhya</i></b> reserves the right to reschedule
     or cancel an appointment without any prior notice</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>A user is made to wait by the doctor and was not able
     to meet the doctor, User needs to write to us at&nbsp;</span><span
     lang=EN-IN style='color:black'><a href="mailto:support@vaidhya.co.in"><span
     style='font-family:"Arial",sans-serif'>support@vaidhya.co.in</span></a></span><span
     lang=EN-IN style='font-family:"Arial",sans-serif'>&nbsp;within 5 working
     days of the occurrence, in such case entire consultation charges as
     mentioned at the time of booking will be refunded to the user in the next
     7 business days.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>A user does not show up for the appointment that was
     booked with a Doctor, without canceling the appointment beforehand, the
     amount will not be refunded nor will be treated again for this consultation
     fee.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>A user will not be refunded if the doctor does not
     meet the patient at the exact appointment time and if the user does not
     wish to wait it is the user who has to take a call to wait or let go of
     the consultation charges, but there will not be any amount refunded.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>The time provided for consultation to you is
     indicative and actual consultation time may change depending on the
     consulting Doctor’s discretion</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>Consultations can be booked, rescheduled or canceled
     only within the stipulated time limits as mentioned at the time of
     booking.</span></li>
</ul>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;background:white'><b><span
lang=EN-IN style='font-size:13.0pt;font-family:"Arial",sans-serif;color:#212529'>Refund
Policy</span></b></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='color:#212529;margin-bottom:0in;line-height:normal;
     background:white'><b><i><span lang=EN-IN style='font-family:"Arial",sans-serif'>Vaidhya</span></i></b><span
     lang=EN-IN style='font-family:"Arial",sans-serif'> offers online mode of
     payment. You may use internet banking or debit/credit card for making
     payment for consultation charges. You shall be directed to our trusted
     payment gateway partners once you proceed to make payment of Service Fees.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><b><i><span lang=EN-IN
     style='font-family:"Arial",sans-serif'>Vaidhya</span></i></b><span
     lang=EN-IN style='font-family:"Arial",sans-serif'> shall not be liable in
     any manner whatsoever, if incorrect or inaccurate credit / debit card
     details are provided by you for making the payment of consultation Fees or
     you use a credit/ debit card which is not lawfully owned by you or if you
     permit a third party to use your password or other means to access your
     account</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><b><i><span lang=EN-IN
     style='font-family:"Arial",sans-serif'>Vaidhya</span></i></b><span
     lang=EN-IN style='font-family:"Arial",sans-serif'> shall keep the
     aforesaid information confidential at all times and shall not utilize and
     share the same with any of the third parties unless is an authorized third
     party website and / or required by law regulation or court order</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>Refunds will not be made against any online
     transaction.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><b><i><span lang=EN-IN
     style='font-family:"Arial",sans-serif'>Vaidhya</span></i></b><span
     lang=EN-IN style='font-family:"Arial",sans-serif'> reserves the right to
     modify / implement a new pricing structure at any time prior to billing
     you for your initial payment or for future payments.</span></li>
</ul>

<p class=MsoNormal style='margin-top:16.65pt;margin-right:0in;margin-bottom:
16.65pt;margin-left:0in;line-height:normal;background:white'><b><span
lang=EN-IN style='font-size:13.0pt;font-family:"Arial",sans-serif;color:#212529'>General
Terms &amp; Conditions</span></b></p>

<ul style='margin-top:0in' type=disc>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>This agreement shall be governed by the laws of India
     and shall be subject to the exclusive jurisdiction of the courts in India.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><b><i><span lang=EN-IN
     style='font-family:"Arial",sans-serif'>Vaidhya</span></i></b><span
     lang=EN-IN style='font-family:"Arial",sans-serif'> makes no representation
     that the services are appropriate for patients in any other location
     except India as <b><i>Vaidhya</i></b> operates and controls this website
     from Bangalore, India.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>If any part of the agreement is determined to be
     invalid or unenforceable pursuant to applicable law then the said
     provision will be superseded by a valid, enforceable provision and the remainder
     of the agreement shall continue in effect</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>You acknowledge that the relationship created through
     your use of this website shall be of principal to principal. You shall not
     represent yourself as a representative agent or employee of <b><i>Vaidhya</i></b></span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>You represent and warrant that you’re not a minor
     (i.e., you are above 18 years of age) and that you are competent and
     eligible to enter into legally binding agreement</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>The terms and conditions herein form an agreement.
     Please read this agreement carefully and if you are not agreeable to any
     terms and conditions please do not proceed further.</span></li>
 <li class=MsoNormal style='color:#212529;margin-top:7.5pt;margin-bottom:7.5pt;
     line-height:normal;background:white'><span lang=EN-IN style='font-family:
     "Arial",sans-serif'>By clicking on “I Agree” and proceeding further you
     signify that you read through, understood and accepted aforementioned
     terms and conditions of use of service. You must agree to the above terms
     and conditions in order to avail the services through the website. If you
     have any queries or need any clarification or assistance please contact us
     at&nbsp;</span><span lang=EN-IN style='color:black'><a
     href="mailto:+91%209148402566"><span style='font-family:"Arial",sans-serif'>+91
     9148402566</span></a></span><span lang=EN-IN style='font-family:"Arial",sans-serif'>&nbsp;or
     can write to us at&nbsp;</span><span lang=EN-IN style='color:black'><a
     href="mailto:support@vaidhya.co.in"><span style='font-family:"Arial",sans-serif'>support@vaidhya.co.in</span></a></span><span
     lang=EN-IN style='font-family:"Arial",sans-serif'>.</span></li>
</ul>

</div>

</body>

</html>
